body {
    background-image: url("/images/bg.jpeg");
    background-size: 100%;
}

div.main-container {
    margin-top: 44px;
}

table.table tbody {
    color: black;
}

.dataTables_wrapper a, .dataTables_wrapper label, div.dataTables_info {
    color: black !important;
}

a.table-action {
    color: #0B792F !important;
}