{# empty Twig template #}
<div class="row">
    <div class="col-lg-3">{{ form_row(form.positions.vars.prototype.name)|e('html_attr') }}</div>
    <div class="col-lg-3">{{ form_row(form.positions.vars.prototype.brutto)|e('html_attr') }}</div>
    <div class="col-lg-3">{{ form_row(form.positions.vars.prototype.netto)|e('html_attr') }}</div>
    <div class="col-lg-3 option-column"></div>
</div>