{# empty Twig template #}
<div class="row">
    <div class="col-lg-3">{{ form_row(form.billScans.vars.prototype.billFile)|e('html_attr') }}</div>
    <div class="col-lg-3">{{ form_row(form.billScans.vars.prototype.fileName)|e('html_attr') }}</div>
    <div class="col-lg-3">{{ form_row(form.billScans.vars.prototype.fileNameOrig)|e('html_attr') }}</div>
    <div class="col-lg-3 option-column"></div>
</div>