{# empty Twig template #}
<tr class="new-row">
    <td>{{ form_widget(form.positions.vars.prototype.name)|e('html_attr') }}</td>
    <td>{{ form_widget(form.positions.vars.prototype.brutto)|e('html_attr') }}</td>
    <td>{{ form_widget(form.positions.vars.prototype.netto)|e('html_attr') }}</td>
    <td class="option-column"></td>
</tr>