{% extends 'main.html.twig' %}

{% block body %}

{{ form_start(form, {'attr': {'action': '/uploadScan/17'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.billFile) }}
        </div>


    <div style="margin-bottom: 10px;"></div>        

    <input type="submit" class="btn btn-primary" value="Save" />

{{ form_end(form) }}    


{% endblock %}