{% block nav %}
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="row">
        <div class="col-lg-12" style="text-align: center">
            <span>Welcome, <strong>{{ app.user.username }}</strong></span><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            <a href="{{ path('app_logout') }}" class="w3-bar-item w3-button" title="Wyloguj"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>M E N U</h5>
    </div>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a title="nowy"
           class="w3-bar-item w3-button w3-padding {% if (app.request.get('_route') == 'nowyParagon') or (app.request.get('_route') == 'edytujParagon')  %} w3-blue{% endif %}"
           href="{{ path('nowyParagon') }}"><span class="mini-sub-pro"><i class="fa fa-plus-square"></i> Nowy</span></a>
        <a title="lista"
           class="w3-bar-item w3-button w3-padding {% if app.request.get('_route') == 'listaParagonow' or app.request.get('_route') == 'app_main' %} w3-blue{% endif %}"
           href="{{ path('listaParagonow') }}"><span class="mini-sub-pro"><i class="fa fa-list"></i> Lista</span></a>
    </div>
</nav>
{% endblock %}